.fetch-btn {
  background-color: rgb(67, 67, 245);
  border: none;
  border-radius: 9px;
  font-size: 32px;
  padding: 5px;
  /* border: 2px solid rgb(67, 67, 245); */
}

.fetch-btn:hover {
  cursor: pointer;
  background-color: rgb(54, 54, 203);
}
