/* 
font-family: 'Oswald', sans-serif; 
font-family: 'Montserrat', sans-serif;
*/

body {
  color: #404040;
}

.cards-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  // margin: 0 15vw;
  margin: 0 auto;
  /* margin: 0 25vw; */

  row-gap: 40px;
  column-gap: 40px;
  max-width: 1000px;
  min-height: 800px;
  justify-items: center;
  /* border: 2px solid red; */

  .card-container {
    // min-width: 420px;
    min-width: 310px;
    // max-width: 450px;
    max-height: 578px;
    /* background-color: #deb493; */
    background-color: #f2f2f2;
    border-radius: 9px;
    box-shadow: 10px 10px 15px 5px rgb(0, 0, 0, 0.4);

    .text-container {
      display: flex;
      flex-direction: column;
      row-gap: 0px;
      // height: 500px;
    }

    /* Needed to center our image in the center */
    .banner {
      display: grid;
      place-items: center;
      padding: 5px;
      border-radius: 9px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      /* background-image: url("../../images/warpspeed-small.jpg"); */
      background-image: url("../../images/matrix-small.jpg");
      background-size: cover;

      .avatar {
        width: 160px;
        height: 160px;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        border-radius: 50%;
        /* background-image: url("../../images/matrix-small.jpg"); */
        background-image: url("../../images/warpspeed-small.jpg");
        background-size: cover;
        // object-fit: cover;
        /* Moves User image between Banner and Text */
        transform: translateY(50%);
        border: 5px solid #f2f2f2;

        &:hover {
          /* transition: 500ms; */
          transition: 300ms ease-in-out;
          transform: translateY(50%) scale(1.1);
        }
      }
    }

    .card-name {
      margin-top: 55px;
      font-family: "Oswald", sans-serif;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 3px;
    }

    .card-title {
      margin-top: 0;
      text-align: center;
      color: #a0a0a0;
      margin-bottom: 20px;
    }

    .card-description {
      // padding-left: 14%;
      padding-left: 8%;
      font-family: "Montserrat", sans-serif;
      margin-top: 10px;
      margin-bottom: 6px;
      font-size: 14px;

      /* Aligns Icon with Description Text */
      ion-icon {
        vertical-align: middle;
      }

      /* Add space between icon and description text */
      .space {
        padding-left: 7px;
      }
    }
  }
}
