.card-icon {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  padding: 6px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
  }
}
