.work-icon-container {
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // vertically centers icon
  margin: auto 0;
  width: 18%;

  .icon-container {
    border-radius: 50%;
    padding: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgb(161, 161, 161);
    }

    ion-icon {
      width: 36px;
      height: 36px;
    }
  }

  .work-icon {
    width: 24px;
    height: 24px;
    stroke: white;
  }

  .work-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 16px;
    color: white;
  }
}
