.work-icon-container {
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // vertically centers icon
  margin: auto 15px;
  width: 50px;

  background-color: rgb(35 98 238);
  border-radius: 50%;

  border: 2px solid rgb(35 98 238);
  color: white;
  background-color: rgb(35 98 238);
  box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0.4);

  &:hover {
    cursor: pointer;
    background-color: rgb(31, 89, 213);
    border: 2px solid rgb(31, 89, 213);
    transition: 200ms ease-in-out;
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0);
  }
  .icon-container {
    // border-radius: 50%;
    padding: 5px;

    // &:hover {
    //   cursor: pointer;
    //   background-color: rgb(161, 161, 161);
    // }

    ion-icon {
      width: 36px;
      height: 36px;
    }
  }

  .work-icon {
    width: 24px;
    height: 24px;
    stroke: white;
  }

  .work-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 16px;
    color: white;
  }
}
