.app-container {
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  background-color: #2653b3;

  /* centers text in container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
  align-items: center;
}

html {
  /* background-color: #505869; */
  background-image: url("../public/images/sphere.jpg");
  background-size: cover;
}

.fetch-btn {
  font-size: 24px;
  /* border: none; */
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 45px;
  padding: 15px 30px 15px 30px;

  border: 2px solid rgb(35 98 238);
  color: white;
  background-color: rgb(35 98 238);
  box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0.4);
}

.fetch-btn:hover {
  cursor: pointer;
  background-color: rgb(31, 89, 213);
  border: 2px solid rgb(31, 89, 213);
  transition: 200ms ease-in-out;
  /* box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0.4); */
  box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
