// .theme {
//   width: 100vw;
//   height: 100vh;
//   background-image: url("./images/sphere.jpg");
//   /* background-image: url("./images/matrix.jpg"); */
//   /* background-image: url("./images/warpspeed.jpg"); */
//   background-size: cover;
//   background-attachment: fixed;
// }

.app {
  display: grid;
  grid-template-columns: 3fr 7fr;

  background-image: url("./images/sphere.jpg");
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  // width: 20% sidebar, 80% content
  // background-color: #404040;
}

.theme {
  // background-image: url("./images/sphere.jpg");
  /* background-image: url("./images/matrix.jpg"); */
  /* background-image: url("./images/warpspeed.jpg"); */
  // background-size: 100%;
  // background-position: center;
  // background-attachment: fixed;
  padding-bottom: 7vh;

  // PUSH theme to the right, px == sidebar width
  // margin-left: 30%;
  margin-left: 30vw;
}

.company-header {
  font-size: 64px;
  font-family: "Audiowide", cursive;
  /* font-family: "Baumans", cursive; */
  text-align: center;
  // color: rgb(35 98 238);
  background-color: #2a2a2a;
  // width: 40%;
  margin: 0 auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  // Gives our header a 4-color linear gradient
  background: linear-gradient(to right, rgb(44, 54, 241) 15%, rgb(109, 41, 244) 48%, rgb(205, 67, 67) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-container {
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  background-color: #2653b3;
  //
  /* centers text in container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
  align-items: center;
}

.fetch-btn {
  font-family: "Audiowide", cursive;
  /* font-weight: bold; */
  font-size: 16px;
  /* border: none; */
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px 30px 15px 30px;

  border: 2px solid rgb(35 98 238);
  color: white;
  background-color: rgb(35 98 238);
  box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0.4);

  &:hover {
    cursor: pointer;
    background-color: rgb(31, 89, 213);
    border: 2px solid rgb(31, 89, 213);
    transition: 200ms ease-in-out;
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0);
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
