.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 270px;

  .size-form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 50px;
    gap: 8px;
    margin: 0 auto;
  }

  .submit-btn {
    font-family: "Audiowide", cursive;
    border-radius: 9px;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(35 98 238);
    color: #f2f2f2;
    transition: 200ms ease-in-out;

    &:hover {
      background-color: rgb(32, 92, 222);
      cursor: pointer;
    }
  }

  input.display-input {
    padding: 8px;
    font-size: 16px;
  }
}
